<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>web.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaAnnuncioHouse</servlet-name>
        <servlet-class>web.CreaAnnuncioHouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaAnnuncioCasaServlet</servlet-name>
        <servlet-class>web.CreaAnnuncioCasaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaAnnuncioHouse</servlet-name>
        <url-pattern>/CreaAnnuncioHouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaAnnuncioCasaServlet</servlet-name>
        <url-pattern>/CreaAnnuncioCasaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>myFormRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>administrator</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>moderatore</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>registered</role-name>
    </security-role>
</web-app>
